<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MySeleniumSuite">
    <listeners>
        <listener class-name="com.project.listeners.TestListener" />
    </listeners>

    <test name="DefaultTests">
        <parameter name="baseUrl" value="https://www.uci.cu/index.php/directorio/personas"/>
        <parameter name="browser" value="chrome"/>
    </test>
</suite>

